---
layout: default
title: Strona Domowa
---

{% block header%}{% endblock %}

{% block body %}
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row author" itemscope itemtype="http://data-vocabulary.org/Person">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <img itemprop="photo" class="avatar img-rounded img-responsive" src="{{ site.url }}/images/kuba.png" alt="Jakub Zalas" title="Jakub Zalas" />
                    </div>
                    <div class="col-md-6 col-sm-4 cal-xs-4">
                        <h1 itemprop="name">Jakub Zalas</h1>
                        <h2 itemprop="title">Architekt, Programista, Trener</h2>
                        <ul class="social list-inline">
                            <li><a href="http://zalas.eu" title="English site"><i class="fa fa-language"></i></a></li>
                            <li><a href="https://twitter.com/jakub_zalas" title="Jakub Zalas na twitterze"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/jakzal" title="Jakub Zalas na githubie"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/jakubzalas/" title="Jakub Zalas na linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer><a href="{{ site.url }}/blog">Blog</a></footer>
</section>
{% endblock %}

{% block footer %}{% endblock %}
